html,
body {
    margin: auto;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#root,
.main {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.upload {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* primary screen, drag and drop */
#drop-area {
    border: 2px dashed rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: border 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
}

#drop-area.dragover {
    border-color: #12A3F8;
    background: #F2F5F7;
}

.image_holder {
    display: none;
    margin-top: 110px;
}

/*.main-image {
    width: 100%;
    height: 450px;
    object-fit: cover;
} */

.choose_image {
    display: block;
    width: 90%;
    margin-top: 110px;
}

.choose_image.hidden {
    display: none;
}

.image_holder.block {
    display: block;
}


/* after load foto, buttons */
.img_btns {
    width: 175px;
    height: 40px;
    padding: 0px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Центрирует элементы по вертикали */
    justify-content: space-evenly;
    /* Центрирует элементы по горизонтали */
    margin-bottom: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(213, 213, 213, 0.5);
    cursor: pointer;
    background: #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.img_btns button {
    border: none;
}

.img_btns button:hover {
    border: 2px solid rgb(189, 189, 189);
    border-radius: 5px;
}

.choose_image {
    width: 90%;
    margin-top: 110px;
}

input[type="file"] {
    display: none;
}


/* Edit form */
.overlay {
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    /* padding: 25px; */
    border-radius: 8px;
}

.edit-form {
    width: 90%;
    height: 85%;
    text-align: left;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Убирает ползунок для Firefox */
    -ms-overflow-style: none;
    /* Убирает ползунок для Internet Explorer и Edge */
}

.form-header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}

.form-content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.form-content {
    border-top: 2px solid #dfdfdf;
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
}

/* left */
.options {
    width: 12%;
    padding: 16px;
    border-right: 2px solid #dfdfdf;
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px;
}

.option:hover {
    border: 2px solid #dfdfdf;
    border-radius: 8px;
}

.option.selected {
    background-color: #12A3F8;
    border-radius: 8px;
    color: white;
}

.option img {
    margin-right: 8px;
}

.active_option {
    background: rgba(255, 255, 255, 0.1);
}

.active_option p {
    opacity: 1;
    margin-top: 8px;
}


/* center */
.image-holder-form {
    width: 73%;
    background: #ededed;
    display: flex;
    flex-direction: column;
    /* Расположить элементы вертикально */
    justify-content: space-between;

}

.image-in-form {
    width: 100%;
    height: 515px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* cropper for change size */
#cropper {
    position: absolute;
    border: 2px dashed red;
    cursor: move;
    background: rgba(255, 255, 255, 0.3);
}

.resize-handle {
    position: absolute;
    background: rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

.resize-handle.top-left {
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
}

.resize-handle.top-right {
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    cursor: nesw-resize;
}

.resize-handle.bottom-left {
    bottom: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    cursor: nesw-resize;
}

.resize-handle.bottom-right {
    bottom: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
}

.resize-handle.top {
    top: -5px;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: ns-resize;
}

.resize-handle.bottom {
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: ns-resize;
}

.resize-handle.left {
    top: 0;
    left: -5px;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
}

.resize-handle.right {
    top: 0;
    right: -5px;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
}

#checkbox-size {
    width: auto;
}

.checkbox-constrain {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 16px;
}

/* ----------- */
.footer-form {
    flex: 1;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #dfdfdf;
    padding: 0px 20px;
}

.history {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.history button {
    padding: 5px;
}

#prev {
    background: none;
    border: none;
    margin-right: 5px;
}

#next {
    background: none;
    border: none;
    transform: scaleX(-1);
    margin-left: 5px;
}

.buttons-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#cancel,
#reset-adjust,
#reset-crop,
#applyCropButton,
#revert {
    width: 100%;
    background: none;
    border: none;
    border: 2px solid #dfdfdf;
    font-weight: bold;
    border-radius: 24px;
    padding: 8px 16px;
    margin-right: 12px;
}

#revert {
    width: auto;
    margin: 13px 0px;
}

#save {
    background: #12A3F8;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 24px;
    padding: 8px 16px;
}

/* right */
.all-parameter {
    width: 15%;
    padding: 16px;
    border-left: 2px solid #dfdfdf;
    max-height: 545px;
    /* Установите максимальную высоту контейнера */
    overflow-y: auto;
    /* Вертикальная прокрутка */
}

/* crop */
#crop {
    margin-bottom: 16px;
}

.crop-select,
.font-select,
.size-select {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
    margin-top: 5px;
}

/* resize */
.resize input {
    width: 87%;
    padding: 8px 12px;
    border-radius: 8px;
    border: 2px solid #dfdfdf;
    font-size: 16px;
    margin-top: 5px;
}

.resize-width {
    margin-bottom: 16px;
}

.section-angle {
    margin-top: 16px
}

.angle-value {
    width: 38px;
    height: 20px;
    text-align: center;
    padding: 2px;
    border: 2px solid #dfdfdf;
    border-radius: 8px;
    margin-right: 5px;
}

.fixed-angle {
    margin-bottom: 10px;
}

/* rotate and flip */
.rotate-flip button,
.decorate button,
.elements button {
    width: 45%;
    height: 70px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #dfdfdf;
    background: none;
    transition: border-color 0.3s ease, transform 0.3s ease;
}
.rotate-flip button:hover,
.decorate button:hover,
.elements button:hover,
#toggleTextModeButton:hover {
    border-color: #12A3F8;
}

.rotate,
.flip {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.rotate {
    margin-bottom: 10px;
}

.rotate-right {
    transform: scaleX(-1);
}

.flip-vertical-img {
    transform: rotate(90deg);
}

/* adjust */
.adjust {
    width: 100%;
}

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-label {
    width: 100%;
    text-align: start;
    margin-bottom: 8px;
    font-size: 1.1em;
    color: #333;
}

.slider {
    width: 100%;
    position: relative;
    height: 4px;
    background-color: #ccc;
    cursor: pointer;
}

.slider-fill {
    position: absolute;
    height: 100%;
    background-color: #12A3F8;
}

.slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #12A3F8;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
}

.slider-value {
    width: 60px;
    background: none;
    border: none;
    text-align: center;
    margin: 8px 0px;
    font-size: 18px;
}

.slider-value:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/* filter */
.elements .selected {
    border-color: #12A3F8; /* Цвет рамки для выбранного фильтра */
}
.filter-none img,
.filter-black-white img,
.filter-sepia img,
.filter-vintage img {
    width: 74px !important;
    height: 74px;
}

.elements .filter-none,
.elements .filter-black-white,
.elements .filter-sepia,
.elements .filter-vintage {
    height: auto;
}

.lebel-for-filter {
    text-align: center;
    margin: 5px 0px;
}

.imageForFiltor {
    overflow: hidden;
    position: relative;
}

.imageForFiltor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, filter 0.5s ease;
    transform-origin: center;
}

.imageForFiltor img:hover {
    transform: scale(1.2);
}

.none {
    filter: none;
}

.black-white {
    filter: grayscale(100%);
}

.sepia {
    filter: sepia(100%);
}

.vintage {
    filter: sepia(50%) contrast(85%) saturate(50%) hue-rotate(-10deg);
}


/* text */
#toggleTextModeButton {
    background: none;
    color: black;
    border: 2px solid #dfdfdf;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px 8px 4px 8px;
}

#font,
#size {
    margin-bottom: 16px;
}

.style {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 16px;
}

.style button {
    margin-right: 6px;
}

.style .b {
    font-weight: bold;
}

.style .i {
    font-style: italic;
    font-family: monospace;
}

.style .u {
    text-decoration: solid underline;
}

.style .s {
    text-decoration: line-through;
    text-decoration-color: black;
}

.alignment {
    margin-top: 8px;
    margin-bottom: 16px;
}
.text-color{
    margin-left: 10px;
}

/* Decorate */
.decorate {
    width: 100%;
}

.decorate label {
    width: 100%;
    text-align: start;
}

.elements {
    width: 100%;
    margin-top: 5px;
}

.elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.elements button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
}

.settings-shape {
    margin-top: 16px;
}

.color-shapes {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-elements-text {
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 2px;
    border: 2px solid #dfdfdf;
    border-radius: 8px;
    margin-right: 5px;
}

.width-line {
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 2px;
    border: 2px solid #dfdfdf;
    border-radius: 8px;
    margin-right: 5px;
}

/* Alert befor close edit form */